a {
    &:hover {
        text-decoration: none;
    }
    .desc {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
    }
    .preview-product {
        max-height: 448px;
        overflow: hidden;
        padding-bottom: 15px;
        padding-top: 15px;
        &:hover {
            background: rgba($white, .3);
        }
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            max-height: 250px;
            max-width: 100%;
        }
        .infos {
            color: $white;
            &:hover {
                color: $white;
            }
        }
    }
}
.section {
    margin-top: 100px;
    .planet-img {
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 90px;
            max-width: 100%;
        }
    }

    .rocket-img {
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 150px;
            max-width: 100%;
        }
    }

    .section-infos {
        margin-top: 20%;
    }
}

textarea {
    height: 100px !important;
    resize: none;
    &::-webkit-scrollbar {
        width: $fat;
    }
    &::-webkit-scrollbar-track {
        border: 0 solid $violet;
        &:horizontal { border-bottom-width: 1px; }
        &:vertical { border-right-width: 1px; }
    }
    &::-webkit-scrollbar-thumb {
        border: 0px solid $violet;
        &:horizontal {
            border-bottom-width: $skinny;
            &:hover { border-bottom-width: $fat; }
        }
        &:vertical {
            border-right-width: $skinny;
            &:hover { border-right-width: $fat; }
        }
    }
}
