$fat: 8px;
$skinny: 4px;

#preview-anchors {
    img {
        height: 220px;
        width: 350px;
    }
}
.anchors {
    textarea {
        height: 125px !important;
        resize: none;
        &::-webkit-scrollbar {
            width: $fat;
        }
        &::-webkit-scrollbar-track {
            border: 0 solid $violet;
            &:horizontal { border-bottom-width: 1px; }
            &:vertical { border-right-width: 1px; }
        }
        &::-webkit-scrollbar-thumb {
            border: 0px solid $violet;
            &:horizontal {
                border-bottom-width: $skinny;
                &:hover { border-bottom-width: $fat; }
            }
            &:vertical {
                border-right-width: $skinny;
                &:hover { border-right-width: $fat; }
            }
        }
    }
}
