$fa-font-path: "~font-awesome/fonts/";
$fa-font: FontAwesome;

@import '~font-awesome/scss/font-awesome';

// Simple Line Icons
$simple-line-font-path: '~simple-line-icons/fonts/';
@import '~simple-line-icons/scss/simple-line-icons';

@font-face {
	font-family: 'Open Sans';
    font-weight: 600;
	src: url('/../public/font/OpenSans-Regular.ttf') format('truetype');
}

$opensans: 'Open Sans', sans-serif;
