$fa-font-path: "~font-awesome/fonts/";
$fa-font: FontAwesome;

@import '~font-awesome/scss/font-awesome';

// Simple Line Icons
$simple-line-font-path: '~simple-line-icons/fonts/';
@import '~simple-line-icons/scss/simple-line-icons';

@import url('https://fonts.googleapis.com/css?family=Open+Sans:600');

$josefin: 'Open Sans', sans-serif;
