$black:           #000000;
$blue:            #1d80d6;
$blueLight:       #ddecf4;
$grey:            #999999;
$greyLight:       #f9f9f9;
$transparent:     rgba(255, 255, 255, 0);
$white:           #ffffff;

// gradient
$step_1:          #ee7752;
$step_2:          #e73c7e;
$step_3:          #23a6d5;
$step_4:          #23d5ab;
